
h5 { white-space: nowrap;}

.btn {
  margin-bottom: 5px;
}

#calculateAlert {
  position: absolute;
  z-index: 1;
  top: 190px;
  left: 50px;
  width: 200px;

}

#instructions {
  min-width: 530px;
}

/* Tooltip container */
div.tooltip2 {
  z-index: 1;
  position: relative;
  display: block;
}

/* Tooltip text */
span.tooltip2 {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 30%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
span.tooltip2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
